@import '~node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #ada996);
  color: #212121;
  line-height: 1.5;
}

header {
  position: fixed;
  width: 100%;
  height: 70px;
  padding: 10px 0;
  background: linear-gradient(to right, #232526, #414345);
  box-shadow: 0 8px 6px -6px rgb(30, 203, 209);
  color: ghostwhite;
  text-align: center;
  
}

.search-form {
  position: relative;
  display: inline-block;
}

.search-form input {

  padding: 5px 40px 5px 20px;
  font-size: 20px;
  border-radius: 9px;
  border: none;
  width: 400px;
  height: 45px; 
background: linear-gradient(90deg, #e0e0db 0%, #22c1c3 100%);
}

.search-form button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  width: 45px;
  height: 45px;
  background-image: url(../images/icon.svg);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  cursor: pointer;
}
.search-form button:hover {
  background-color: #e0e0db;
  border-radius: 9px;
}

.container {
  margin: 0 auto;
  padding-top: 55px;
  text-align: center;

  @media screen and (min-width: 390px) {
    width: 390px;
  }
  @media screen and (min-width: calc(390px * 2)) {
    width: calc(390px * 2);
  }
  @media screen and (min-width: calc(390px * 3)) {
    width: calc(390px * 3);
  }
  @media screen and (min-width: calc(390px * 4)) {
    width: calc(390px * 4);
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: auto;
 margin-top: 30px;
}

.photo-card {
  height: 100%;
  flex-basis: calc((100% - 20px * 3) / 4);
  margin-right: 20px;
  margin-bottom: 20px;
  border: 3px solid rgb(30, 203, 209);
  background-color: rgb(236, 236, 236);
  overflow: hidden;

  transition-property: box-shadow;
  transition-duration: 250ms;
}

.photo-card:nth-child(4n) {
  margin-right: 0;
}

.photo-card:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.photo-card img {
  width: 360px;
  height: 240px;
  object-fit: cover;
}

.photo-card .info {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.photo-card .info-item {
  margin: 5px 0;
}

.info b {
  display: block;
  font-weight: 600;
}
footer {
  bottom: 0;
  height: 20px;
}